/* styles.css */


  body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    background-color: #f6f6f6;
  }
  
  h1 {
    margin: 15px;
  }
  
  .contenedor-genero {
    background-color: #efe1e1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contenedor-genero h2 {
    margin-bottom: 20px;
  }
  
  .genero {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .pelicula {
    width: 100px;
    text-align: center;
  }
  
  .pelicula img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(25, 14, 14, 0.2);
    transition: transform 0.5s ease;
  }
  
  .pelicula img:hover {
    transform: scale(1.05);
    transition: all 0,5 linear;
  }
  
  .pelicula h3 {
    font-size: 12px;
    margin-top: 10px;
    color: #060101;
  }
  
 



